@using Telegenic.Entities.ViewModels;
@using Telegenic.Entities.Models;
@model vmSearch


<!-- Begin hidden fields area-->
<!-- end hidden fields area-->
<!-- Begin search area-->
<div id="SearchArea">
    @Html.Partial("_searchPanel", Model)
</div>

<!-- End search area-->
<!-- Begin grid area-->
<div id="GridResultArea">
</div>
<!-- End grid area-->
<!--Begin save area-->
<div id="SaveFormArea">
</div>
<!-- End save area-->
