@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin search area-->
<div id="SearchArea" class="col-lg-12">
    @RenderBody()
</div>
<!-- End search area-->

<!-- Begin grid area-->
<div id="GridResultArea" class="col-lg-12 ">
</div>
<!-- End grid area-->

<!--Begin Edit area-->
<div id="EditFormArea" class="col-lg-12">
</div>
<!-- End save area-->

<!-- Begin Edit Card Area-->
<div id="EditCardListArea">
</div>
<!-- End Edit Card Area-->